/* デモなので簡易的なリセット */ 
* {
    margin: 0;
    padding: 0;
}
*::after,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    width:100%;
}
body {
    font-family: 'Lato', sans-serif;
    background: #fff;
    width:100%;
}
article {
    height: auto;
    text-align: center;
    line-height: 1.9;
    font-size: 14px;
}
article p {
    margin-bottom: 1em;
}
a {
    color: #0b8793;
}
#main-visual img{
    width: 100%;
}

footer {
    padding-bottom: 50px;
    text-align: center;
}
footer a {
    text-decoration: none;
}

/* ▲▲▲ここまではナビゲーションに関係ない設定▲▲▲ */

.inner {
    width: 100%;
    margin: 0 auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}
/* header */
#top-head {
    font-size: 14px;
    top: -80px;
    position: absolute;
    width: 100%;
    margin: 100px auto 0;
    padding: 20px 0 0;
    line-height: 1;
    z-index: 999;
}
#top-head a,
#top-head {
    color: #666;
    text-decoration: none;
}
#top-head .inner {
    position: relative;  
}
#global-nav {
    text-align: center;
    width: 100%;
}
#global-nav ul {
    list-style: none;
    display: inline-block;
    bottom: 0;
    font-size: 17px;
    font-family: "Nico Moji", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic Medium", "Yu Gothic", sans-serif;
}
#global-nav ul li {
    display: inline-block;
    position: relative;
}
#global-nav ul li a {
    padding: 0 2.5vw;
}
/* Btn Hover */
#global-nav ul li:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    bottom: -10px;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
}
#global-nav ul li:hover:after {
    background: #fff;
    bottom: -20px;
}
/* Fixed */
#top-head.fixed {
    margin-top: 0;
    top: 0;
    color: #333;
    position: fixed;
    padding-top: 22px;
    height: 55px;
    background: transparent;
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}
#top-head.fixed #global-nav ul li a {
    color: #666;
    padding: 0px 1.8VW;
}
/* Fixed Btn Hover */
#top-head.fixed #global-nav ul li:after {
    bottom: -10px;
}
#top-head.fixed #global-nav ul li:hover:after {
    background: #EEE;
    bottom: -20px;
}
/* Toggle Button */
#nav-toggle {
    display: none;
    position: absolute;
    right: 15px;
    top: 14px;
    width: 28px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}

#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #444;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}
@media screen and (max-width: 780px) {
    .inner {
        width: 100%;
        padding: 0 20px;
    }
    #global-nav ul li a {
        padding: 0 50px;
    }
    #top-head.fixed #global-nav ul li a {
        padding: 0 15px;
    }
}
@media screen and (max-width: 780px) {

    #top-head,
    .inner {
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: fixed;
        margin-top: 0;
    }
    /* Fixed reset */
    #top-head.fixed {
        padding-top: 0;
        background: transparent;
    }
    #mobile-head {
        width: 100%;
        height: 56px;
        z-index: 999;
        position: relative;
    }
    #top-head.fixed .logo,
    #top-head .logo {
        position: absolute;
        left: 13px;
        top: 13px;
        color: #333;
        font-size: 26px;
    }

    #global-nav {
        position: absolute;
        opacity: .95;
        height:100vh;
        /* 開いてないときは画面外に配置 */
        top: -500px;
        top: -200vh;
        background: #c0e0f7;
        text-align: center;
        padding: 10px 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    #global-nav ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 11px;
        padding-right: 15px;
    }
    #global-nav ul li {
        float: none;
        position: static;
        display: block;
    }
    #global-nav ul li:after  {
        display: none;
    }
    #top-head #global-nav ul li a,
    #top-head.fixed #global-nav ul li a {
        width: 100%;
        display: block;
        color: #444;
        padding: 25px 0;
        margin: 10px;
    }
    #nav-toggle {
        display: block;
    }
    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
   .open #global-nav {
        -moz-transform: translateY(500px);
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(200vh);
        -webkit-transform: translateY(200vh);
        transform: translateY(200vh);
    }
}
.content {
    padding: 90px 0 50px;
}

table {
    width: 50%;
    margin: 10px auto;
    text-align: center;
    
}
table , td {
    border: 1px solid #fff;
    border-collapse: collapse;
}
td{
    padding: 5px 10px;
    height: 25px;
    background: #fff;
    color: #999;
    min-width: 120px;
    font-size: 13px;
}
td .large {
    font-size :40px;
}
td span{
    font-size:12px;
    font-weight: bold;
    color: #ffaf8e;
}
h2{
    letter-spacing: 7px;
    font-size:36px;
    color: #88b7ef;
    margin-bottom: 50px;
    font-family: "Nico Moji", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic Medium", "Yu Gothic", sans-serif;
}
h3{
    margin: 50px 0 10px;
    letter-spacing: 4px;
}
h4{
    margin-top: 10px;
}
h5{
    letter-spacing: 4px;
    font-size:26px;
    color: #ffffff;

}
h6{
    letter-spacing: 4px;
    font-size:24px;
    color: #ff7796;

}
.caption {
    font-size: 12px;
    font-weight: bold;
    color: ;
    padding: 0 10px;
}
#concept {
    background: url(images/index.png);
    padding-bottom: 50px;
}
#concept img {
    width: 50%;
}
#concept h2 {
    font-family: "Nico Moji", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic Medium", "Yu Gothic", sans-serif;
}
#concept p {
    text-align: center;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-size: 17px;
}
#concept p strong{
    display: inline-block;
    font-size: 26px;
    color: #c0e0f7;
    background: -webkit-linear-gradient(-4deg, #c0e0f7, #4aceff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#shop {
    background: url(images/tennai.png) left top / 2310px 410px no-repeat;
    margin: 0 auto;
    width: 100%;
    min-width: 1200px;
    height: 410px;
    padding: 0;
}
#shop h2,#maid h2{
    font-family: 'Lato', sans-serif;
    margin: 0 0 20px 0px;
    padding: 48px 0 32px;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 21px;
    color : #c0e0f7;
}

#shop h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    display: block;
    margin: -2px 0 0 -92px;
    background: url(images/wakusei.png) 0 0 / 100% 100% no-repeat;
    width: 180px;
    height: 43px;
}
#shop .box{
    width:480px;
    height:410px;
    padding: 60px 0;
    background: url(images/index.png)#fff;
}
#shop p,#maid p{
    display: inline-block;
    margin: 0 0 60px 0;
    width: 340px;
    line-height: 28px;
    font-size: 16px;
}
#shop .button,#maid .button{
    width: 240px;
    margin: -25px auto 0;
}
#shop .button a,#maid .button a,
#instagram .button a,#tiktok .button a{
    display: block;
    border-radius: 30px;
    background: #c0e0f7;
    width: 240px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
 }
 #shop .button a:hover,#maid .button a:hover, 
 #instagram .button a:hover,#tiktok .button a:hover{
    background: #719cb9;
    transition-duration: 0.2s;
 }
/*.button:hover {
    opacity: 0.6;
    transition-duration: 0.2s;
 }*/
 .spacer{
    height:50px;
    width: 100%;
    background: url(images/index.png)#fff;
 }

 #maid{
    background: url(images/cheki.png) left top / 2310px 410px no-repeat;
    margin: 0 auto 30px;
    width: 100%;
    min-width: 1200px;
    height: 410px;
    padding: 0;
 }
#maid h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    display: block;
    margin: -2px 0 0 -92px;
    background: url(images/maid.png) 0 0 / 100% 100% no-repeat;
    width: 180px;
    height: 43px;
}
 #maid .box{
    width:480px;
    height:410px;
    padding: 60px 0;
    background: #fff;
    position:absolute;
    right:0px;
    background: url(images/index.png)#fff;
}

#event {
    height: 800px;
    margin-bottom: 100px;
}

#sys{
    margin: 150px 0;
    padding: 150px 0;
    background: url("./images/bg_sysmenu.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    position: relative;
}
.syslink {
    text-decoration: none;
    width: 80%;
    max-width: 600px;
    height: 150px;
    margin: 0 auto;
    border: solid 5px #c0e0f7;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.9);
    display: flex;
    align-items: stretch;
}
.syslink a{
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
}
.syslink h2{
    letter-spacing: 10px;
    font-size: 36px;
    color: #009afa;
    width: 100%;
    height: 100%;
    line-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.syslink h2 span{
    font-size: 32px;
    margin: 12px;
}
#sys .syslink a:hover h2{
    opacity: 0.85;
}

#instagram{
    padding: 50 0 0;
}
#instagram h2{
    margin-bottom:20;
}
#instagram .instagram_gallery{
    display: inline-block;
    width: 30vw;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
    margin: 5;
    border: solid 4px #c0e0f7;
    background:#c0e0f7;
}
#instagram img{
    width: 100%;
}
#instagram ul{
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
}
#instagram li{
}
#instagram .button{
    display: block;
    width: 240px;
    margin: 20px auto;
}
#tiktok{
    margin: 50 0;
}
#tiktok h2{
    margin-bottom:-10;
}
.tiktok_movie{
    display: inline-block;
    vertical-align: top;
}
#tiktok .button{
    width: 240px;
    margin: 0 auto;
}
.mobile_tiktok_movie{
    display: none;
}
@media screen and (max-width: 780px) {
    .tiktok_movie{
        display: none;
    }
    .mobile_tiktok_movie{
        display: block;
    }
    #tiktok .button{
        margin: 20 auto;
    }
}
.link_tiktok{
    text-align: center;
}
.link_tiktok a{
    text-decoration: none;
}
.img_link_tiktok{
    max-width: 120px;
    margin: 0 20;
}
 .img_link_tiktok:hover{
    opacity: 0.5;
    transition-duration: 0.2s;
 }


@media screen and (max-width: 780px) {
    h2 {
        font-size: 27px;
    }
    td.large {
        font-size :28px;
    }
    #concept{
        padding-bottom: 20px;
    }
    #concept img{
        margin-top:-50px;
        width: 90%;
        max-width: 450px;
    }
    #event{
        margin: -20 20;
        height: auto;
    }
    #shop {
        background: url(images/tennai.png) 0% bottom / 300vw auto no-repeat;
        margin: -20 auto 0;
        padding: 0 0 52vw;
        min-width: 100%;
        height: auto;
    }
    #shop h2,#maid h2{
        font-size: 14px;
        margin-bottom: 10px;
        padding-bottom: 0;
    }
    #shop h2::before,#maid h2::before {
        margin: 27px 0 0 -44px;
        width: 86px;
        height: 19px;
    }
    #shop .box{
        width:90%;
        height: auto;
        padding: 10 0 20;
        margin: 0 auto;
    }
    #shop p,#maid p {
        font-size:12px;
        line-height: 20px;
        margin: 0px 0 30px;
    }
    #shop .button,#maid .button{
        margin: 0 auto;
    }
    .spacer{
        display: none;
    }
    #maid {
        background: url(images/cheki.png) 0% bottom / 300vw auto no-repeat;
        margin: 0 auto;
        padding: 10vw 0 90vw;
        min-width: 100%;
        height: auto;
        position:static;
    }
    #maid .box{
        width:100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    #maid .button{
        margin: 0 auto 20px;
    }
    .content table {
        width: 80%;
    }
    .content td {
        width: 50%;
    }
   #sys{
    margin: 100px 0;
    padding: 75px 0;
    background-attachment: unset;
    background-size: 100%;
    }
    .syslink {
        width: 350px;
        height: 85px;
    }
    .syslink h2{
        letter-spacing: 7px;
        font-size: 24px;
        height: 85px;
        line-height: 85px;
    }
    .syslink h2 span{
        font-size: 20px;
        margin: 8px;
    }
    #instagram .instagram_gallery{
    border: solid 2px #c0e0f7;
    }
    .img_link_tiktok{
    max-width: 100px;
    margin: 10 10;
    }
}

.link_menu{
    text-align: center;
}
.link_menu a{
    text-decoration: none;
}
.img_link_menu{
    max-width: 120px;
    margin: 0 20;
}
 .img_link_menu:hover{
    opacity: 0.5;
    transition-duration: 0.2s;
 }
  .img_link_menu{
    max-width: 100px;
    margin: 10 10;
    }

    
.banner {
    background: #fff;
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 800px;
}
.banner img {
    width: 100%;
}
.p_logo{
    width: 60%;
    max-width: 400px;
}



footer {
    background: #BFE0F7;
}
footer a {
    color: #fff;
}
#shoplist li{
    margin: 0 10px;
    display: inline-block;
}
#shoplist img{
    width: 80px;
}
#gotop {
    display: none;
}
#gotop img{
    position: fixed;
    width: 36px;
    right: 15px;
    bottom: 20px;
    margin-right: 10px;
    z-index: 1;
}
/*.shinjuku_flip {
    transition-delay : 0.1s;
    transition-duration : 2s;
}
.akihabara_flip {
    transition-delay : 0.3s;
    transition-duration : 2s;
}
.shinsaibashi_flip {
    transition-delay : 0.5s;
    transition-duration : 2s;
}
.tenjin_flip {
    transition-delay : 0.7s;
    transition-duration : 2s;
}
.cp_flip {
    transition-delay : 0.9s;
    transition-duration : 2s;
}*/



@media screen and (max-width: 780px) {
    .s_box {
        width: 85%;
    }
    .content {
        padding: 40px 0px;
    }
     .content img{
        padding: 40px 0px;
    }  

    #shoplist ul{
        padding: 0px;
    }
     #shoplist img{
        width: 50px;  
    }
    #shoplist li{
    margin: 0 5px;
    }
}
@media screen and (max-width: 450px) {
    #shoplist img{
        width: 40px;  
    }
}

#egmap_canvas_1 {
    margin: 50px auto 20px;
}
#egmap_canvas_1 td,#egmap_canvas_1 table{
    border: none;
}
#top .swiper-container,#top .swiper-wrapper {
    width: 100vw;
    height: calc(100vw * 1080 / 1920);
}
.swiper-container img{
    width: 100vw;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 55%;
    width: 37px;
    height: 26px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: none;
    font-size: 25px;
    color: #a79222;
    background-image: url();
    font-weight: bold;
}

.timeline-Viewport {
    margin: 40px !important;
}

.swiper-container-horizontal>.swiper-scrollbar {
    display: none;
}


/*フォーム*/
#formWrap {
    max-width:700px;
    margin:0 auto;
    color:#555;
    line-height:120%;
    font-size:90%;
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-size: 20px;
    color:#000;
    border:4px solid #c0e0f7;
    padding: 40px;
    background: #fff;
}
#formWrap p{
    color: #666;
}

table.formTable{
    width:100%;
    margin:0 auto;
    border-collapse:collapse;
}
table.formTable td,table.formTable th{
    border:none;
    padding:10px;
}
input,select  {
    border:none;
    padding:15px;
    background-color: #eee;
    border-radius: 3px;
    color:#bbb;
    margin-right: 10px;
}
form p{
    margin: 20px 0 0;
}

table td span {
    background: -webkit-linear-gradient(-4deg, #f089e5, #f56285);
    border-radius: 3px;
    padding:4px 0 4px 4px;
    color:#fff;
    text-align: center;
    width: 20px;
}
table.formTable th{
    width:30%;
    font-weight:normal;
    text-align:left;
    color:#f5bbdd;
    font-weight: bold;
    font-size:16px;
}
/*　簡易版レスポンシブ用CSS（必要最低限のみとしています。ブレークポイントも含め自由に設定下さい）　*/
@media screen and (max-width:572px) {
    #formWrap {
        width:90%;
        margin:0 auto 30px;
        padding: 10px;
    }
    #formWrap p{
        margin-top: 20px;
        font-size: 12px;
        line-height:20px;
    }
    table.formTable th, table.formTable td {
        width:auto;
    }
    table.formTable th {
        margin-top:5px;
        border-bottom:0;
        font-size: 12px;
    }
    input[type="text"] {
        width:70%;
        padding:5px;
        font-size:110%;
    }
    textarea {
        width:95%;
        padding:5px;
        font-size:110%;
    }
    input[type="submit"], input[type="reset"], input[type="button"] {
        display:block;
        width:80%;
        height:40px;
        line-height:12px;
    }
    select  {
        padding:5px;
        width:95%;
    }
    table td span {
        padding:2px 0 2px 2px;
        color:#fff;
        width: 15px;
        font-size: 10px;
    }
}
