@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roundedmplus1c/v17/ZgNOjORWPa_DWpyxyUCMwBCdF7nsoCs3GVKT.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roundedmplus1c/v17/ZgNPjORWPa_DWpyxyUCMwBCdF7nsoOMlDnWzYg.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roundedmplus1c/v17/ZgNIjORWPa_DWpyxyUCMwBCdF7nsqEgHHg.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roundedmplus1c/v17/ZgNPjORWPa_DWpyxyUCMwBCdF7nsoLskDnWzYg.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roundedmplus1c/v17/ZgNPjORWPa_DWpyxyUCMwBCdF7nsoPMiDnWzYg.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/roundedmplus1c/v17/ZgNPjORWPa_DWpyxyUCMwBCdF7nsoO8hDnWzYg.ttf) format('truetype');
}
@font-face {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roundedmplus1c/v17/ZgNPjORWPa_DWpyxyUCMwBCdF7nsoMsgDnWzYg.ttf) format('truetype');
}
